body,html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/*********global*******/
nav{
    margin-bottom: 15px;
}

.nav-link a:hover{
    color: #ffffff;
}

.nav-item a:hover{
/*********global*******/
    background-color: #ffe0d8;
    border-radius: 1em;
}

.btn-view-all{
    background-color: #1b262c;
    color: #fff;
}

/********end global****/

/******************************welcome page**************************/
/**** hero *****/
#hero{
    background-color: #ffe0d8;
    margin-top: -1em;
    color: #ffffff;
    padding-bottom: 2em;
}

#hero h1{
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
}
/**** end hero *****/
/**** featured *****/
#featured{  
    padding-bottom: 2em;
    color: black;
    margin-top: -2em;
}

#featured .card{
    margin-top: 1em;
    background-color: rgba(13, 13, 13, 0.5);
    color: #ffffff;
    border: none;
    min-height: 20em;
    border-radius: 1em;
}

#featured .card:hover{
    background-color: rgba(13, 13, 13, 0.7);
}

#featured .card-bg-image-bags{
    background: url("/resources/logo/bags.jpg") no-repeat center;
    border-radius: 1em;
}

#featured .card-bg-image-clothes{
    background: url("/resources/logo/clothes.jpg") no-repeat center;
    border-radius: 1em;
}

#featured .card-bg-image-acc{
    background: url("/resources/logo/acc.jpg") no-repeat center;
    border-radius: 1em;
}

#featured h3{
    text-align: center;
    padding-top: 5em;
    text-transform: uppercase;
}
/**** end featured *****/

/**** newly-arrived *****/
#newly-arrived{
    margin-top: 4em;
    margin-bottom: 4em;
}

#newly-arrived .card{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

#newly-arrived .card a{
    background-color: #fff;
    color: #1b262c;
    border: solid 0.7px #1b262c;
}

#newly-arrived .card a:hover{
    background-color: #1b262c;
    color: #fff;
    border: solid 0.7px #1b262c;
}
/**** end newly-arrived *****/


/**** #most-popular *****/
#most-popular{
    margin-top: 4em;
    margin-bottom: 4em;
}

#most-popular .card{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    box-shadow: 0 1px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    margin-bottom: 1em;
}

#most-popular .card a{
    background-color: #fff;
    color: #1b262c;
    border: solid 0.7px #1b262c;

}

#most-popular .card a:hover{
    background-color: #1b262c;
    color: #fff;
    border: solid 0.7px #1b262c;
}
/**** end newly-arrived *****/
/******************************welcome page**************************/

/**** footer *****/
footer{
    background-color:  #ffe0d8;
    color: #fff;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
/**** end footer *****/

/**** sales-force-page *****/
#sales-force-page .sales-card{
    background: rgb(7,121,228);
    background: linear-gradient(90deg, rgba(7,121,228,1) 11%, rgba(35,148,231,1) 32%, rgba(3,179,245,1) 64%, rgba(0,212,255,1) 100%);
    color: #ffffff;
    border-radius: 30px;
    padding-top: 1em;
    margin-right: 7px;
    margin-left: 7px;
    padding-bottom: 10px;
}

#sales-force-page .profile-img{
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-right: 5px;
    border-radius: 50%;
    margin-top: 30px;
}

#sales-force-page .profile-stats-icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#sales-force-page .stats-text{
    margin-top: 3px;
}

#sales-pending-orders{
    margin-top: 2em;
}

#sales-pending-orders .card-header{
    background-color: #162447;
    color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    border: none;
}

#sales-pending-orders .card{
    border-radius: 20px;
    color: #fff;
    background-color: #1f4068;
    border: none;
    margin-left: 0.7em;
    margin-top: 1em;
    margin-right: 0.7em;
}

#sales-pending-orders-carousel{
    margin-top: 2em;
}

.btn-orders-finish{
    border-radius: 30px;
    background-color: #6886c5;
    color: #fff;
    border: none;
}

.btn-orders-cancel{
    background-color: #e43f5a;
    color: #fff;
    border-radius: 20px;
    margin-left: 1em;
}

#sales-completed-orders-carousel{
    margin-top: 2em;
}

#sales-completed-orders .card-header{
    background-color: #120136;
    color: #fff;
    border-radius: 20px 20px 0px 0px;
}

#sales-completed-orders .card{
    border-radius: 20px;
    color: #fff;
    background-color: #035aa6;
    border: none;
    margin-left: 0.7em;
    margin-top: 1em;
    margin-right: 0.7em;
    padding-bottom: 1.7em;
}

.completed-badge{
    border-radius: 20px;
    background-color: #fcbf1e;
    color: #fff;
}

.profil-img{
    margin-top: 1em;
}

/**** end sales force page *****/

/**** admin page *****/
.btn-add-product{
    border-radius: 30px;
    background-color: cornflowerblue;
    border: none;
    margin-bottom: 2em;
}
/**** end admin page *****/