body,html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #fff;
    padding-top: 56px;
}

/*********global*******/
nav{

}

.nav-link a:hover{
    color: #ffffff;
}

.nav-item a:hover{
/*********global*******/
    background-color: #ffe0d8;
    border-radius: 1em;
}

.btn-view-all{
    background-color: #1b262c;
    color: #fff;
}

/********end global****/

/********* search bar *********/
.btn-search{
    background-color: #fca3cc;
    color: #ffff;
}

.main-search{
    border: none;
    height: 3em;
    border-radius: 1em;
}

.main-btn-search{
    background-color: #fca3cc;
    color: #ffff;
    width: 12em;
    height: 2.5em;
    border-radius: 1em;
}
/********* search bar *********/

/**** about *****/
/**** Links *****/
#links .card{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

#links .resize-logo{
    width: 12em;
    height: 14.5em;
}

#links a{
    text-decoration: underline;
}
/**** end about *****/


/******************************welcome page**************************/
/**** hero *****/
#hero{
    background-color: #ffe0d8;
    margin-top: -1em;
    color: #ffffff;
    padding-bottom: 2em;
}

#hero h1{
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
}
/**** end hero *****/

/**** featured *****/
#featured{  
    padding-bottom: 2em;
    color: black;
    margin-top: -2em;
}

#featured .card{
    margin-top: 1em;
    background-color: rgba(13, 13, 13, 0.5);
    color: #ffffff;
    border: none;
    min-height: 20em;
    border-radius: 1em;
}

#featured .card:hover{
    background-color: rgba(13, 13, 13, 0.7);
}

#featured .card-bg-image-bags{
    background: url("/resources/logo/bags.jpg") no-repeat center;
    border-radius: 1em;
}

#featured .card-bg-image-clothes{
    background: url("/resources/logo/clothes.jpg") no-repeat center;
    border-radius: 1em;
}

#featured .card-bg-image-acc{
    background: url("/resources/logo/acc.jpg") no-repeat center;
    border-radius: 1em;
}

#featured h3{
    text-align: center;
    padding-top: 5em;
    text-transform: uppercase;
}
/**** end featured *****/

/**** newly-arrived *****/
#newly-arrived{
    margin-top: 4em;
    margin-bottom: 4em;
}

#newly-arrived .card{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

#newly-arrived .card a{
    background-color: #fff;
    color: #1b262c;
    border: solid 0.7px #1b262c;
}

#newly-arrived .card a:hover{
    background-color: #1b262c;
    color: #fff;
    border: solid 0.7px #1b262c;
}
/**** end newly-arrived *****/


/**** #most-popular *****/
#most-popular{
    margin-top: 4em;
    margin-bottom: 4em;
}

#most-popular .card{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    box-shadow: 0 1px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    margin-bottom: 1em;
}

#most-popular .card a{
    background-color: #fff;
    color: #1b262c;
    border: solid 0.7px #1b262c;

}

#most-popular .card a:hover{
    background-color: #1b262c;
    color: #fff;
    border: solid 0.7px #1b262c;
}
/**** end newly-arrived *****/

/************ orders button ************/
.btn-shopee{
    background-color: #f7442e !important;
    border: none !important;
    color: #ffffff !important;
}
/************* end orders button *********/
/******************************welcome page**************************/

/**** search result *****/
#search-result .card{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    box-shadow: 0 1px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.search-box-shadow{
    box-shadow: 0 1px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(198, 252, 237, 0.60)
}

/**** end search result *****/

/**** footer *****/
footer{
    background-color:  #ffe0d8;
    color: #fff;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
/**** end footer *****/


/**** admin page *****/
.btn-add-product{
    border-radius: 30px;
    background-color: cornflowerblue;
    border: none;
    margin-bottom: 2em;
}
/**** end admin page *****/
